<%=form_for(recipe) do |f|%>
  <div class="field">
    <%=f.label(:name)%>
    <%=f.text_field(:name)%>
  </div>
  <div class="field">
    <%=f.label(:ingredient_ids, 'Ingredients')%>
    <%=f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name)%>
  </div>
  <div class="field">
    <%=f.fields_for(recipe.ingredients.build) do |ing|%>
      <%=ing.text_field(:name)%>
    <%end%>
  </div>
  <div class="action">
    <%=f.submit%>
  </div>
<%end%>
