<%= form_for(recipe) do |f| %>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>

  <div class="field">
    <% if !ingredients.blank? %>
      <%= f.label :ingredients, 'Ingredients:' %> <br>
      <%= f.collection_check_boxes :ingredient_ids, ingredients, :id, :name %><br>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
