<%= form_for recipe do |f|%>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
  <%= f.fields_for :ingredients, recipe.ingredients.build do |ingredient_attributes|%>
    <%= ingredient_attributes.text_field :name %>
  <%end%>
</p>
  <%= f.submit %>
<% end %>
