<%= form_for recipe do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %><br/>

  <h3>Ingredients: </h3>

  <%= f.collection_check_boxes :ingredient_ids, ingredients, :id, :name %><br/>
  <p>New Ingredients:</p>
  <% 3.times do %>
    <%= f.fields_for :ingredients, recipe.ingredients.build do |ingredient_fields| %>
      <%= ingredient_fields.text_field :name %><br>
    <% end %>
  <% end %>
<%= f.submit %>
<% end %>
