<%= form_for recipe do |f|%>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>
<<<<<<< HEAD
Ingredients
<%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br>

  <%= f.submit %>
<% end %>
=======
Ingredietn
  <%= f.submit %>
<% end %>
>>>>>>> 1f7182da6f3edfa71386dbc2b7870e2f52922318
