<%= form_for(recipe) do |f|%>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  Select from existing list of ingredients:
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
</p>

  <%= f.submit %>
<% end %>


