<%= form_for(recipe) do |f| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% recipe.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>
  
<h3>Ingredients</h3>
      
  <div class="field">
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br>
  </div>
  
  <div class="field">
    <!--
    <label for="post_tag_attributes_0_name">New Tag Name</label>
    <input type="text" name="post[tags_attributes][][name]" id="post_tag_attributes_0_name">
    -->
    <%= f.fields_for :ingredients, recipe.ingredients.build do |ingredients_fields| %>
      <%= ingredients_fields.label :name %><br>
      <%= ingredients_fields.text_field :name %><br>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>