<%= form_for recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %> <br>

  <h4><%= f.label :ingredient_ids, "Ingredients: " %></h4>
  <p><%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %></p>

  <%= f.submit %>

<% end %>
