<%= form_for @recipe do |f| %>
  Recipe: <%= f.label :name %>
  <%= f.text_field :name %>

  <%= hidden_field_tag "recipe[ingredient_ids][]", nil %>
  <% @ingredients.each do |ingredient| %>
    <%= label_tag "ingredient_#{ingredient.id}", ingredient.name %>
    <%= check_box_tag "recipe[ingredient_ids][]", ingredient.id, @recipe_ingredients.include?(ingredient), id: "ingredient_#{ingredient.id}" %>
  <% end %>  
      

  <div class="actions"><br />
    <%= f.submit %>
  </div>


<% end %>

