<%= form_for @recipe do |f| %>
  <p>Recipe Name: <%= f.text_field :name %></p>
  
  
<%= f.label :ingredients, 'Ingredients:' %><br>
<%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %> <br>



 <%= f.submit %>
  
<% end %>