<%= form_for recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <div class="collection-check-box">
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name do |i| %>
        <%= i.check_box %>
        <%= i.label %>
    <% end %>
  </div>
  <%= f.submit %>
<% end %>
