<%= form_for @recipe do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %><br>
  </div>
  <br>
  
  <%=f.fields_for(:ingredients) do |ingredient_form| %>
    <%= ingredient_form.label :name %>
    <%= ingredient_form.text_field :name %>
  <% end %>
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br>
  <%= f.submit %>

<% end %>