<%= form_for recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br>

  <h3>Ingredients</h3>
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br><br>
  <!-- fields_for will create a params hash -->
  <h3>New Ingredients</h3>
  <%= f.fields_for :ingredients do |fields| %>
    <%= fields.label :name %>
    <%=fields.text_field :name %>
    <%= fields.label :quantity %>
    <%=fields.text_field :quantity %>
    <br><br>
  <% end %>
<%=f.submit%>
<% end %>
