<%= form_for(recipe) do |recipe_builder|%>
<%= recipe_builder.label :name %>
<%= recipe_builder.text_field :name %><br>
<p>
    Select Ingredients:
	<%= recipe_builder.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) %>
</p>

 <%= recipe_builder.submit %>
<% end %>