<%= form_for recipe do |f|%>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
</p>

<%= fields_for :ingredients, recipe.ingredients.build do |ingredients_field| %>

<%= ingredients_field.text_field :name %>


<%end%>
    <%= f.submit %>
<% end %>