<%= form_for recipe do |f| %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

   <p>
    <%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) do |b| %>

      <%= b.check_box %>
      <%= b.label %>
    <% end %>
  </p>

    <%= f.submit %>
<% end %>