<%= form_for(recipe) do |f|%>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>


 <p>
  <%= f.label "Select Ingredients" %>
  <%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) do |b| %>
    <p>
      <%= b.label %> 
      <%= b.check_box %>
    </p>
  <% end %>
  
</p>


  <%= f.submit %>
<% end %>
