<%= form_for recipe do |f|%>
<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :name%>
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br>
</div>


<div class="action">
  <%= f.submit %>
</div>

<% end %>
