<%= form_for recipe do |f| %>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

<p>
  <h4><%= f.label :ingredients, 'Ingredients:' %></h4>
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
</p>
  <%= f.submit %>
<% end %>
