<%= form_for @recipe do |f| %>

<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
</p>

  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>

  <h3>Create A New Ingredient</h3>
    <%= f.fields_for :ingredients, @recipe.ingredients.build do |ingr_form| %>
      <%= ingr_form.text_field :name %>
    <% end %>

  <%= f.submit %>
<% end %>
