<%= form_for @recipe do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  
<%= f.fields_for :ingredients do |ingredient| %>
<%= f.collection_check_boxes :ingredient_ids, ingredients, :id, :name %>
<%= ingredient.label :name %>
<%= ingredient.text_field :name %><br>
 
<%= ingredient.label :quantity %>
<%= ingredient.text_field :quantity %><br>

  <% end %>

 <%= f.submit %>
  
<% end %>