<%= form_for recipe do |f| %>
    <%= f.label :Recipe %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :Ingredients %>
    <br>
    <p><%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %></p>
    <br>
    <%= f.submit  %>
<% end %>
