<%= form_for recipe do |f| %>

 <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
    Ingredients:
  </p>

  <p>
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br>
  </p>


  <p>
    <%= f.submit %>
  </p>

<% end %>