<% if recipe.errors.any?%>
<ul>
<% recipe.errors.full_messages.each do |message|%>
<li><%= message %></li>
<%end%>
</ul>
<%end%>



<%= form_for recipe do |f|%>
<%= f.label "Recipe Name:"%>
<%= f.text_field :name%><br>
<%= f.label "Select Ingredients:"%><br>
<%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name.downcase %><br>
<%= f.label "New Ingredient:"%>
<%= f.fields_for :ingredients, recipe.ingredients.build do |fields|%>
<%= fields.text_field :name%><br>
<%end%>
<%= f.submit %>
<%end%>
