<%= form_for recipe do |f| %>
<p><%= f.label :name %>:
<%= f.text_field :name%></p>
<h2>Select the ingredients: </h2>
<%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) %>

<p><%= f.submit button_text%></p>
<%end%>