<%= form_for @recipe do |f| %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>
  </div>

  <div class="field">
    <%= f.label :ingredients%>
    <%= f.collection_check_boxes :ingredient_ids, RecipeIngredient.all,  :ingredient_ids, :"#{ingredient.name}"%><br>
     :tag_ids, Tag.all, :id, :name
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>
