<%= form_for recipe do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
  </div>

  <div class="">
    <%= f.submit %>
  </div>
<% end %>
