<%= form_for recipe do |f|%>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <h3>Select Existing Ingredients:</h3>
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br>
  </p>

  <p>
    <h3>Create Your New Ingredients Here:</h3>
    <%= f.fields_for :ingredients, recipe.ingredients.build do |ingredients_fields| %>
      <%= ingredients_fields.label :name %>
      <%= ingredients_fields.text_field :name %><br>
    <% end %>
  </p>

  <%= f.submit %>
<% end %>
