<%= form_for(@recipe) do |f| %>
   <% if @recipe.errors.any? %>
     <div id="error_explanation">
       <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

       <ul>
       <% @recipe.errors.full_messages.each do |message| %>
         <li><%= message %></li>
       <% end %>
       </ul>
     </div>
   <% end %>

   <%= f.text_field :name %>

   <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>

   <%= f.fields_for :ingredients, @recipe.ingredients.build do |fields| %>
     <%= fields.text_field :name %>
   <% end %>

   <div class="actions">
     <%= f.submit %>
   </div>
 <% end %>
