<%= form_for recipe do |f| %>
  <div class="field">
    <%= f.label :name, 'Name:' %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <% if !ingredients.blank? %>
    <%= f.label :ingredients, 'Ingredients:' %>
    <%= f.collection_check_boxes :ingredient_ids, ingredients, :id, :name %>
    <% end %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
