<%= form_for @recipe do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %> 
  </div>

  <div>
      Ingredients: <br>
      <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
  </div>


  <%= f.submit %>
<% end %>