<tbody>
        <td><%= recipe.name %></td><br />
        <% recipe.ingredients.each do |ingred|%>
        <td><%= ingred.name%></td>
          <%end%>

        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
  </tbody>
</table>