<h1>Edit <%= @recipe %></h1>
  <%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <p>Ingredients:</p>
    <p><%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %></p>
  <%= f.submit "Update Recipe" %>
<% end %>
