<%= form_for @recipe do |f| %>
  <%= f.text_field :name %>
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>
  <%= f.submit %>
<% end %>

<h1>Recipes</h1>
<% @recipes.each do |i| %>
  <%= i.name %>
<% end %>

<h1>Ingredients</h1>
<% @ingredients.each do |i| %>
  <%= i.name %>
<% end %>
