<h2>Edit the Recipe:</h2>

<%= form_for @recipe do |f| %>

<%= f.label :name, "Recipe Name" %>
<%= f.text_field :name %>

<br></br>

Recipe Ingredients:
<%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %>

<br></br>

<%= f.fields_for @recipe.ingredients.build do |ingr| %>

<%= ingr.label :name, "Add New Ingredient" %>
<%= ingr.text_field :name %>

<% end %>

<br></br>

<%= submit_tag "Update Recipe" %>

<% end %>