<h1>Edit Recipe</h1>
 
<p>
  <%= form_for @recipe do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
</p>

 

<p>Choose an existing ingredient:</p><br></br>
<% Ingredient.all.each do |ingredient|%>

<!-- <input type="checkbox" name="recipe[ingredient_ids][]" value="<%#=ingredient.name %>" id="ingredient_<%#=ingredient.id %>"><%#=ingredient.name%></input>
<%#end%><br></br>
 -->

<input type="checkbox" value="recipe[ingredient_ids][]" name="<%=ingredient.name %>" id="ingredient_<%=ingredient.id%>"><%=ingredient.name%></input>
<%end%><br></br>


and/or, create a new ingredient:<br></br>
<label>Ingredient name:</label>
<input type="text" name="ingredient[name]" id="new_ingredient"></input><br>

<%= f.submit %>
<% end %>        

