<h2> Edit recipe </h2>


<%= form_for @recipe do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>

<h3>Current ingredients: </h3>
WHY WON"T THIS PRINT? Because ingredients are not currently bound to recipe object. 
 
 <% @recipe.ingredients.each do |ingredient| %>
	 <%= ingredient.name %>

	<%= @recipe.ingredients.count %>
 <% end %>







	<h3> Change Ingredients:</h3>
	<%= f.label :ingredients, 'Ingredients:' %>
	<br />
	<%= f.collection_check_boxes :ingredient_ids, @ingredients, :id, :name %>
		<br />

		
	<%= f.submit  %>

<% end %>