<h1>Editing <%= @recipe.name %></h1>

<%= form_for @recipe do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <% end %>
  
<%= form_for @recipeingredients do |ingredient| %>
 <%= f.label :ingredient_id, 'Recipe Ingredient:' %><br>
<%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :name) %>
<%= ingredient.label :name %>

<%= f.collection_check_boxes(:quantity) %>
<%= ingredient.label :quantity %>


 

 <%= f.submit %>
  
<% end %>
