<h1>Recipe Info</h1>

<%= form_tag(recipes_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search recipes" %>
<%= submit_tag "Search" %>
<% end %>


<% if @recipes.present? %>
<% @recipes.each do |recipe| %>
  <%= render partial: 'recipe', locals: {recipe: recipe} %>
  <% end %>
<% else %>
  <p>There are no recipes containing the term(s) <%= params[:search] %>.</p>
<% end %>