<h2>Create a new recipe</h2>

<%= form_for @recipe do |f| %>
  <%= f.label "Name:" %><br />
  <%= f.text_field :name %><br />

  <% Ingredient.all.each do |ingredient| %>
    <%= label_tag "ingredient_#{ingredient.id}", ingredient.name %>
    <%= check_box_tag 'recipe[ingredient_ids][]', ingredient.id, false, id: "ingredient_#{ingredient.id}" %> 
  <% end %>

  <%= f.submit %>
<% end %>
