<h1>New Recipes</h1>


<%= form_for @recipe do |f| %>
  Recipe: <%= f.label :name %>
  <%= f.text_field :name %>

  
    <% @ingredients.each do |ind| %>
      <%= label_tag "ingredient_#{ind.id}", ind.name %>
      <%= check_box_tag "recipe[ingredient_ids][]", ind.id, false, id: "ingredient_#{ind.id}" %>
    <% end %>  
      

  <div class="actions"><br />
    <%= f.submit %>
  </div>


<% end %>