<h3> Enter Your Recipe </h3>

<%= form_for @recipe do |f|%>

  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
    <%= f.submit %>
<% end %>
