
<h2> Enter new recipe </h2>


<%= form_for @recipe do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<br />
	<%= f.label :ingredients, "Ingredients:" %><br />
	<%= f.collection_check_boxes :ingredient_ids, @ingredients, :id, :name  %>
	<br />

	<%= f.submit  %>

<% end %>

