
<h2> Enter new recipe </h2>

<%= form_for @recipe do |f| %>

	<%= f.label :name %>
	<%= f.text_field :name %>


	<h3> Ingredients:</h3>
	
	<%= f.collection_check_boxes :ingredient_ids, @ingredients, :id, :name %>
		<br />
	<%= f.submit  %>

<% end %>

<%= link_to "Add new ingredient", new_ingredient_path %>
