<%= form_for @recipe do |f| %>
  <div id="new_recipe">
    <%= f.label :name, "Recipe Name:" %>
    <%= f.text_field :name%>
  </div>
  <div id="check boxes">
    <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name%><br>
  </div>
  <%= f.submit "Create Recipe" %>
<% end %>