<h3>Create a New Recipe:</h3>

<%= form_for @recipe do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %><br><br>

  <%= f.label "Choose from Existing Ingredients:" %>
  <%= f.collection_check_boxes :ingredient_ids, Ingredient.all, :id, :name %><br><br>

  <%= f.label "Or Create New Ingredient:" %>
  <%= f.fields_for :ingredients, @recipe.ingredients.build do |i_fields| %>
  <%= i_fields.text_field :name %>
  <% end %>
 
<br><br>
<%= f.submit %>
<% end %>


