<h2> Enter your new recipe here: </h2>

<%= form_for(@recipe) do |f| %>
<div class="field">
  <%= f.label :name, "Recipe Name:" %><br>
  <%= f.text_field :name %><br>
  <br>
  <%= f.fields_for :ingredients do |i| %>
      <%= i.label :name, "Ingredients:" %><br>
      <%= i.text_field :name %>
      <br>
      <br>
  <% end %>
</div>

<div class="actions">
  <%= f.submit %>
</div>

<% end %>
