<h2>New Recipe</h2>
<%= form_for @recipe do |f| %>
  Name: <%= f.text_field :name %>
  Ingredients: <%= f.collection_check_boxes(:ingredient_ids, Ingredient.all, :id, :name) do |ingredient| %>
    <p>
      <%= ingredient.label :class => "checkstyle"%>
      <%= ingredient.check_box %>
    </p>
  <% end %>
  <%= f.submit %>
<% end %>
