<h3>Recipe Name: <%= @recipe.name.split.map(&:capitalize).join(' ') %></h3>
<label>Ingredients:</label>
<br />
<ul>
<% @recipe.ingredients.each do |ingredient| %>
  <li><%= ingredient.name.split.map(&:capitalize).join(' ') %></li>
<% end %>
</ul>

<p><%= link_to "Back to List", recipes_path(@recipe) %></p>

 <p><%= link_to "Edit", edit_recipe_path(@recipe) %></p>

<p><%= form_tag recipe_path(@recipe), method: "delete" %>
      <%= submit_tag "Delete" %></p> 