<h2>Ingredients needed to make <%= @recipe.name %>:</h2>

<ul>
  <% @recipe.recipe_ingredients.each do |ingredient| %>
    <% if ingredient.ingredient.present? %>
      <li><%= "#{ingredient.ingredient.name}: #{ingredient.quantity}" %></li>
    <% end %>
  <% end %>
</ul>

<h2>Ingredients Inventory: </h2>

<ul>
  <% @recipe.recipe_ingredients.each do |ingredient| %>
    <% if ingredient.ingredient.present? %>
      <li><%= "#{ingredient.ingredient.name}: #{ingredient.ingredient.inventory_total}" %></li>
    <% end %>
  <% end %>
</ul>

<h2>
  You have enough ingredients to make this recipe <strong><%= pluralize( @recipe.number_of_dishes, 'time') %></strong>
</h2>

<p><%= link_to 'Edit Recipe', edit_recipe_path(@recipe) %></p>
