<h4><%= @recipe.name %> <%= link_to "Edit", edit_recipe_path(@recipe), class: 'btn btn-sm btn-link' %> <%= link_to "Delete", @recipe, class: 'btn btn-sm btn-link', method: :delete, data: { confirm: "Are you sure you want to delete this recipe?" } %> <%= link_to "Edit Quantities", add_recipe_path(@recipe), class: 'btn btn-sm btn-link' %></h4>
  <p>
    Makes: <%= pluralize(@recipe.servings, "serving") %>
  </p>
  <p>
    You have ingredients for <%= pluralize(@recipe.total_recipes, "full recipe") %>
  </p>
  <table class='table table-sm table-striped table-hover' style='width: 400px;'>
    <thead>
      <th>Quantity</th>
      <th>Ingredient</th>
    </thead>
    <tbody>
      <% @recipe.ingredients.each do |ingredient| %>
        <tr>
          <td><%= quantity(@recipe, ingredient) %></td>
          <td><%= ingredient.name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
