<%= form_for(ingredient) do |f| %>

  <% if ingredient.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(ingredient.errors.count, "error") %> prohibited this post from being saved:</h3>

      <ul>
      <% ingredient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %> <br>

  <%= f.submit %>
<% end %>
