<h1>New Ingredient</h1>

<%= render partial: 'form', locals: {ingredient: @ingredient} %>


<%= form_for @ingredient do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br><br>
  <%= f.submit %>
<% end %>
