<%= form_for ingredient do |f|%>
<p>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <br>
  <%= f.label :total_quantity %>
  <%= f.text_field :total_quantity %>
</p>

  <%= f.submit %>
<% end %>
