<h1><%= @ingredient.name %></h1>

<% if @ingredient.total_inventory %>
  <p><strong>Amount Available: <%= @ingredient.total_inventory %></strong></p>
<% end %>

<%= link_to "Edit Ingredient", edit_ingredient_path(@ingredient) %>

<br><br>

<%= link_to "Delete Ingredient", @ingredient, method: :delete, data: { confirm: "Are you sure you want to delete this ingredient?" } %>
<!-- alternative way to create delete button:
<%= button_to "Delete Ingredient", ingredient_path(@ingredient), method: "delete", confirm: "Are you sure you want to delete this ingredient?" %>
