<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Flatiron Kitchen!</h1>
<%= yield %>
<%= link_to "All Recipes", recipes_path %>
<%= link_to "New Recipe", new_recipe_path %>
<%= link_to "All Ingredients", ingredients_path %>
<%= link_to "New Ingredient", new_ingredient_path %>
</body>
</html>
