<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <%= link_to "Recipe Index", recipes_path %>
    <%= link_to "New Recipe", new_recipe_path %>
    <%= link_to "Ingredient Index", ingredients_path %>
    <%= link_to "New Ingredient", new_ingredient_path %>
  </nav>
<%= yield %>

</body>
</html>
