<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to :Ingredients_Index, ingredients_path unless current_page?(ingredients_path) %> <br>
  <%= link_to :Recipes, recipes_path unless current_page?(recipes_path) %> <br>
  <br>
<%= yield %>

</body>
</html>
