<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>Flatiron Kitchen App</h1>
<h3><%= link_to "All Recipes", recipes_path %></h3>

<%= yield %>

</body>
</html>
