<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <%= link_to "Ingredients", ingredients_path %>
  <%= link_to "New Ingredient", new_ingredient_path %>
  <%= link_to "Recipes", recipes_path %>
  <%= link_to "New Recipe", new_recipe_path %><br>


</head>
<body>

<%= yield %>

</body>
</html>
