<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= link_to "All recipes", recipes_path %>
<%= link_to "New recipe", new_recipe_path %>
<%= link_to "All ingredients", ingredients_path %>
<%= link_to "New ingredient", new_ingredient_path %>


<%= yield %>

</body>
</html>
