<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="nav">
    <ul>
      <li><a href="/">Home</a></li>
      <li><%= link_to "Add recipe", new_recipe_path %></li>
      <li><%= link_to "Ingredients list", ingredients_path %></li>
      <li><%= link_to "Add ingredients", new_ingredient_path %></li>
    </ul>
  </div>

  <%= yield %>

</body>
</html>
