<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= link_to "Home", root_path %>
  <%= link_to "All Recipes", recipes_path %>
  <%= link_to "Pantry Stock", ingredients_path %>
</head>
<body>

<%= yield %>

</body>
</html>
