<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul>
    <li><%= link_to "Create A New Recipe", new_recipe_path %></li>
    <li><%= link_to "Make A New Ingredient", new_ingredient_path %></li>
  </ul>
<%= yield %>

</body>
</html>
