<!DOCTYPE html>
<html>
<head>
  <title>FlatironKitchen</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <p><%= link_to "Ingredients", ingredients_path %></p>
    <p><%= link_to "Recipes", recipes_path %></p>
  </nav>
  
  <h1>What's in the Kitchen?</h1>
<%= yield %>

</body>
</html>
